.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: #f4ff;
}

.header--img {
    height: 65px;
    width: 65px;
}