.header-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    align-items: center;
}

.header--title-container {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20.7482px;
    line-height: 24px;
    letter-spacing: -0.1em;
    margin-left: 20px;
}
.header--img {
    height: 31px;
    width: 26px;
}


.header--title2 {
    margin-right: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}